.search {
  form {
    display: flex;
    align-items: flex-end;
    & > div {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      label {
        display: block;
      }
      input {
        height: 2em;
        padding: 0;
        margin: 0;
      }
    }
    button[type='submit'] {
      background: transparent;
      border: none;
      height: 2em;
      vertical-align: baseline;
      padding: 0 1em;
    }
  }
}
