@import 'md-colors';

.favorite {
  color: md-color('grey', '400');
  cursor: pointer;
  &:hover {
    color: md-color('amber', '300');
  }
  &.added {
    color: md-color('amber', '300');
    &:hover {
      color: md-color('grey', '400');
    }
  }
}
