.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
    color: inherit;
    &:visited {
      color: inherit;
    }
  }
  li {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    a {
      text-decoration: none;
      padding: 0.5em 0;
    }
  }
}
