.weather {
  text-align: center;
  .location {
    margin-bottom: 0.5em;
    ul {
      display: inline-flex;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        padding: 0 0.25em;
        &:not(:last-child) {
          padding-right: 0;
          &::after {
            content: '\2219';
            padding-left: 0.25em;
          }
        }
      }
    }
  }
  .time {
    margin-bottom: 0.25em;
  }
  .highlight {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.25em;
    span {
      font-size: 2.5rem;
    }
  }
  .description {
    margin-bottom: 0.25em;
  }
}
