.main-layout {
  .main-layout-nav {
    display: flex;
    padding: 0.25em 0;
    margin-bottom: 0.25em;
    a {
      text-decoration: none;
      color: inherit;
      &:visited {
        color: inherit;
      }
    }
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      margin-left: auto;
      li {
        margin: 0;
        padding: 0 0.5em;
      }
    }
  }
}
